*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.conteiner{
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
}
.casilla{
    margin: 5px;
    height: 2rem;
    width: 2rem;
    background-color: rgb(112, 112, 255);
}

